<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}Sample Python Web Project{% endblock %}</title>
</head>

<body>
    <header>
        <h1>{% block header %}Welcome to Sample Python Web Project{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Sample Python Web Project</p>
    </footer>
</body>

</html>